* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

img {
    margin-top: 1rem;
    width: 10rem;
}

button {
    margin-top:1 rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

button:hover {
    opacity: 0.6;
    cursor:pointer;
}